@import "tailwindcss";

body {
    margin: 0;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffbe64;
}

.navbar {
    margin: 0;
    padding: 15px;
    font-family: 'Viga', sans-serif;

    display: flex;
    justify-content: flex-end;
    gap: 55px;
    background-color: purple;
}

#dark-mode {
    border-radius: 12px;
    width: 40px;
}


.footer {
    background-color: skyblue;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #6c757d;
}