@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-midrange {
  perspective: 1000px;
}

.transform-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .group-flip-inner {
  transform: rotateY(180deg);
}